.loginMap{
    width: 387.43px;
    
}

.Net{
width: 171px;
height: 31px;
font-weight: 600;
font-size: 36px;
line-height: 43px;
letter-spacing: -0.0264em;
margin-right: 10px;
}
.Trade{
    font-weight: 300;
}
.Register{
font-weight: 600;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.2px;
color: #000000;
margin-top: 40px;
margin-left: 50px;
margin-bottom: 30px;
}
.left-side{
    input{
        background: #F8F8F8;
        border: 1px solid #F1F1F1;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    label{
        display: block;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -0.96px;
        color: #999999;
    }

  
}
.button{
    width: 180px !important ;
    height: 40px;
    text-align: center;
    background: #D85A54;
    border: 1px solid;
    border-radius: 10px;
    color: white !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -1.2px;
    transition: 1.6s;
    &:hover{
        background: #c04740;
    }
}
.nese{
    margin-right: 310px;
    justify-content: space-between
}
.svg{
    margin-left: 50px;
}
#textarea{
background: #F8F8F8;
border: 1px solid #F1F1F1;
border-radius: 8px;
width: 700px ;
}
.textarea{
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.96px;
    color: #999999;
}
// .file{
//  width: 58px;
// height: 58px;
// background: #C4C4C4;
// border-radius: 5px;
// }
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}